
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello</title>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-3.3.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/customJS.js")"></script>
</head>
<body>
    <div>
        Şekil çizmek için bir tuşa basınız.  (Kare için S, Üçgen için T, Dikdörtgen için R)
    </div>
    <br />
  
</body>
</html>
